* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* Farben */
  --primaryColor: #2A3647;
  --secondaryColor: #29ABE2;
  --activeColor: #091931;
  --textColor: #000000;
  --backgroundColor: #0000001A;
  --iconColor: #A8A8A8;
  /* Fonts */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--backgroundColor);
  font-family: 'Inter', sans-serif;
  overflow-y: auto;
}