* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* Farben */
  --primaryColor: #2A3647;
  --secondaryColor: #29ABE2;
  --activeColor: #091931;
  --textColor: #000000;
  --backgroundColor: #0000001A;
  --iconColor: #A8A8A8;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  font-size: 61px;
  text-align: center;
  color: var(--textColor);
}

.logo {
  height: 120px;
}